body{
    background-color: #FFFFFF;
}

.navbar{
    background-color: #F7F6CF !important;
}

.nav-link{
    color: #880E4F !important;
    font-weight: bold;
    box-shadow: 2px 6px 6px #fff;
    margin-top: 10px;
    font-size: 30px;
    margin-left: 30px;
    border: 4px solid #880E4F;
}

.tagLine{
    background-color: #E3F2FD;
    font-size: 2em;
    border: 2px solid #880E4F;
}

.fa-user-circle,.fa-cutlery{
    font-size: 32px !important;
}

.fa-truck,.fa-headphones,.fa-thumbs-up{
    font-size: 50px !important;
    margin-right: 10px;
    color: #3F51B5 !important;
    background-color: aqua;
}

.card1,.card2,.card3{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: #CCFF90;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 4px solid #2E7D32;
}

.mainCard{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


h3{
    color: #3F51B5;
}

.breakFast,.riceBowl,.chicken,.crezyBeef,.burger,.cake,.juice,.featuredProducts{
    margin-top: 50px;
}

.card{
    width: 250px;
    height: auto !important;
    margin-bottom: 5px;
}

.card-text{
    font-weight: bold;
}

.btn-primary{
    width: 100%;
    background-color: #3F51B5;
}

.heading{
    text-align: center;
    font-size: bold;
    background-color: #80DEEA;
    color: #4A148C;
    margin: 20px;
    border: 4px solid #4A148C;
}

.design{
    font-style: italic;
    text-align: center;
    background-color: #80DEEA;
    color: #880E4F;
}

.heading > h1{
    text-shadow: 2px 2px 4px black;
}

.footer{
    width: 100%;
    background-color: #80DEEA;
    height: 70px;
}

.footer > div{
    text-align: center !important;
    align-items: center;
}

h4{
    color: #fff;
}
